@media (max-width: 808px) {
  .navbar nav {
    flex-direction: column;
    justify-content: space-around;
  }
  .navbar nav a {
    width: 20vh;
    margin: auto;
    border-radius: 50%;
  }
  .ortaalt {
    align-items: center;
    flex-direction: column;
  }
  .ortaalt img {
    width: 80%;
  }
  .paragraflar {
    display: flex;
    flex-direction: column;
    width: 70vw;
  }
}
